.list-item-wrapper{
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  padding: 20px;

  background-color: antiquewhite;
  border-radius: 20px;

  .title{
    word-wrap: break-word;
    margin-bottom: 20px;
  }
  .options{
    display: flex;
    justify-content: space-between;

    .done-block{
      background-color: white;
      padding: 5px 10px;
      border-radius: 20px;
    }
  }
}
